FlowFiglio.txt
[{"id":"1ea3fda1.4826d2","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"12ba4d61.d08d03","type":"http request","z":"1ea3fda1.4826d2","name":"google sheets","method":"GET","ret":"obj","paytoqs":false,"url":"https://sheets.googleapis.com/v4/spreadsheets/1Pwmolv3xvseJQUk_9_Y0Jv2jY_0HsXFIkTSvrynq7yc/values/N2%3AZ200?majorDimension=COLUMNS&valueRenderOption=FORMATTED_VALUE&fields=values&key=AIzaSyAoEdNmd3SB7_DOus1pTvmyfcjSbym1qiY","tls":"","proxy":"","authType":"basic","x":580,"y":300,"wires":[["e8d561fb.36088","9a155937.3350a8"]]},{"id":"c15b8b9a.c31f18","type":"inject","z":"1ea3fda1.4826d2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":230,"y":300,"wires":[["8cff1dc8.851f6","e286d5d4.fd6328","caa88358.a610e","d0621427.a7abd8"]]},{"id":"d4018e0f.ec40d","type":"debug","z":"1ea3fda1.4826d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"row","targetType":"msg","x":1060,"y":300,"wires":[]},{"id":"e8d561fb.36088","type":"function","z":"1ea3fda1.4826d2","name":"Recupero array di valori presenti","func":"var array = msg.payload.values.slice();\n//var array2 = [].concat(array1);\n//var index = msg.payload.valueRanges.length;\n//msg.Termination = index;\n//flow.set(\"index\", 0);\n\n//array.shift();\nmsg.row = array; //.splice(0, 1);\n\nvar index = msg.payload.values.length;\n//msg.Termination = index;\nflow.set(\"index\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["82f3bb7c.cba1f8","d4018e0f.ec40d"]]},{"id":"82f3bb7c.cba1f8","type":"counter-loop","z":"1ea3fda1.4826d2","name":"counter-loop","counter":"il320b54d6e604d4","counterType":"msg","reset":false,"resetValue":"value-null","initial":"0","initialType":"num","operator":"lt","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":450,"y":360,"wires":[[],["838051d3.c9fc7"]]},{"id":"838051d3.c9fc7","type":"function","z":"1ea3fda1.4826d2","name":"Estraggo riga per riga","func":"var array = msg.row;\nvar index = flow.get(\"index\") || 0;\n\nvar index_cols =msg.payload.values.length;\n\nvar row = \"\";\nfor (i = 0; i < (index_cols); i++) {\n    row += array[i][index] + \"' ,'\";\n}\n\n//index = index +1;\nflow.set(\"index\", index+1);\n\nmsg.snes = row;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":360,"wires":[["82f3bb7c.cba1f8","8416394d.9e7c48"]]},{"id":"9a155937.3350a8","type":"debug","z":"1ea3fda1.4826d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":260,"wires":[]},{"id":"c1ce9c14.a67d8","type":"debug","z":"1ea3fda1.4826d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1060,"y":360,"wires":[]},{"id":"3b9bbe4a.c5f8e2","type":"mysql","z":"1ea3fda1.4826d2","mydb":"59cbd434.1de9dc","name":"temp","x":710,"y":480,"wires":[["c68e5a79.ef7ba8"]]},{"id":"c68e5a79.ef7ba8","type":"debug","z":"1ea3fda1.4826d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":478,"wires":[]},{"id":"ae787ca7.2d53d","type":"function","z":"1ea3fda1.4826d2","name":"select","func":"msg.topic = \"SELECT * FROM figlio \";\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":478,"wires":[["3b9bbe4a.c5f8e2"]]},{"id":"8cff1dc8.851f6","type":"delay","z":"1ea3fda1.4826d2","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":478,"wires":[["ae787ca7.2d53d"]]},{"id":"8416394d.9e7c48","type":"function","z":"1ea3fda1.4826d2","name":"funzione","func":"var start= \"INSERT INTO figlio (nome, cognome, nfiglio, cfiglio, nascitaf, comune, email, newsletter, cellulare, tessera, ntessera, idtessera, classe, lel) VALUES ('\";\nvar ending=\"')\";\nvar x = msg.snes;\nmsg.topic= start + x + ending;\nreturn msg;\n ","outputs":1,"noerr":0,"x":880,"y":360,"wires":[["c1ce9c14.a67d8","3b9bbe4a.c5f8e2"]]},{"id":"e286d5d4.fd6328","type":"function","z":"1ea3fda1.4826d2","name":"TRONCATE","func":"msg.topic= \"TRUNCATE table figlio;\"\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["3b9bbe4a.c5f8e2"]]},{"id":"caa88358.a610e","type":"delay","z":"1ea3fda1.4826d2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":300,"wires":[["12ba4d61.d08d03"]]},{"id":"b723113e.63841","type":"comment","z":"1ea3fda1.4826d2","name":"figlio","info":"","x":250,"y":260,"wires":[]},{"id":"74fd6213.789fcc","type":"function","z":"1ea3fda1.4826d2","name":"delete blank rows","func":"msg.topic= \"delete from figlio where nome='' or nome is null or nome='undefined';\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["3b9bbe4a.c5f8e2"]]},{"id":"d0621427.a7abd8","type":"delay","z":"1ea3fda1.4826d2","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":520,"wires":[["74fd6213.789fcc"]]},{"id":"59cbd434.1de9dc","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"credenziali","tz":""}]