FlowMestesso.txt
[{"id":"1ea3fda1.4826d2","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"30917d28.ec2142","type":"comment","z":"1ea3fda1.4826d2","name":"mestesso","info":"","x":280,"y":220,"wires":[]},{"id":"194237f4.491ad8","type":"inject","z":"1ea3fda1.4826d2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":230,"y":260,"wires":[["baf43c64.b5962","9ed469e3.5d2408","e95088b.2b20978","80b6d830.237538"]]},{"id":"2b5c2205.f39c3e","type":"debug","z":"1ea3fda1.4826d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Termination","targetType":"msg","x":1100,"y":260,"wires":[]},{"id":"423b66e1.0898b8","type":"function","z":"1ea3fda1.4826d2","name":"Recupero array di valori presenti","func":"var array = msg.payload.values.slice();\n//var array2 = [].concat(array1);\n//var index = msg.payload.valueRanges.length;\n//msg.Termination = index;\n//flow.set(\"index\", 0);\n\n//array.shift();\nmsg.row = array; //.splice(0, 1);\n\nvar index =msg.payload.values.length;\nmsg.Termination = index;\nflow.set(\"index\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":260,"wires":[["f9341b20.ada2a8","2b5c2205.f39c3e"]]},{"id":"f9341b20.ada2a8","type":"counter-loop","z":"1ea3fda1.4826d2","name":"counter-loop","counter":"il320b54d6e604d4","counterType":"msg","reset":false,"resetValue":"value-null","initial":"0","initialType":"num","operator":"lt","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":470,"y":320,"wires":[[],["a92b7c24.9f8d3"]]},{"id":"a92b7c24.9f8d3","type":"function","z":"1ea3fda1.4826d2","name":"Estraggo riga per riga","func":"var array = msg.row;\nvar index = flow.get(\"index\") || 0;\n\nvar index_cols =11//msg.payload.values.length;\n\nvar row = \"\";\nfor (i = 0; i < (index_cols); i++) {\n    row += array[i][index] + \"' ,'\";\n}\n\n//index = index+1;\nflow.set(\"index\", index+1);\n\nmsg.snes = row ;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[["f9341b20.ada2a8","d55d9e60.0b9ae","4a8425e3.2b957c"]]},{"id":"bf609fdf.40415","type":"debug","z":"1ea3fda1.4826d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":220,"wires":[]},{"id":"d1c3cb8f.3e8328","type":"debug","z":"1ea3fda1.4826d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1080,"y":320,"wires":[]},{"id":"9af24cf.0ee0cb","type":"mysql","z":"1ea3fda1.4826d2","mydb":"59cbd434.1de9dc","name":"temp","x":730,"y":440,"wires":[["c8959e22.29a5"]]},{"id":"c8959e22.29a5","type":"debug","z":"1ea3fda1.4826d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":438,"wires":[]},{"id":"4059a303.8698dc","type":"function","z":"1ea3fda1.4826d2","name":"select","func":"msg.topic = \"SELECT * FROM mestesso \";\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["9af24cf.0ee0cb"]]},{"id":"baf43c64.b5962","type":"delay","z":"1ea3fda1.4826d2","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":438,"wires":[["4059a303.8698dc"]]},{"id":"d55d9e60.0b9ae","type":"function","z":"1ea3fda1.4826d2","name":"funzione","func":"var start= \"INSERT INTO mestesso (nome, cognome, nascita, comune, email, newsletter, cellulare, tessera, numerotess, idtessera, professione, lel) VALUES ('\";\nvar ending=\"')\";\nvar x = msg.snes;\nmsg.topic= start + x + ending;\nreturn msg;\n ","outputs":1,"noerr":0,"x":900,"y":320,"wires":[["9af24cf.0ee0cb","d1c3cb8f.3e8328"]]},{"id":"9ed469e3.5d2408","type":"function","z":"1ea3fda1.4826d2","name":"TRONCATE","func":"msg.topic= \"TRUNCATE table mestesso;\"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["9af24cf.0ee0cb"]]},{"id":"e95088b.2b20978","type":"delay","z":"1ea3fda1.4826d2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":260,"wires":[["b52a7c4b.217f8"]]},{"id":"b52a7c4b.217f8","type":"http request","z":"1ea3fda1.4826d2","name":"google sheets","method":"GET","ret":"obj","paytoqs":false,"url":"https://sheets.googleapis.com/v4/spreadsheets/1Pwmolv3xvseJQUk_9_Y0Jv2jY_0HsXFIkTSvrynq7yc/values/C2%3AM200?majorDimension=COLUMNS&valueRenderOption=FORMATTED_VALUE&fields=values&key=AIzaSyAoEdNmd3SB7_DOus1pTvmyfcjSbym1qiY","tls":"","proxy":"","authType":"basic","x":620,"y":260,"wires":[["423b66e1.0898b8","bf609fdf.40415"]]},{"id":"4a8425e3.2b957c","type":"debug","z":"1ea3fda1.4826d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":380,"wires":[]},{"id":"dde0a044.bf2bb","type":"function","z":"1ea3fda1.4826d2","name":"delete blank rows","func":"msg.topic= \"delete from mestesso where nome='' or nome is null or nome='undefined';\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["9af24cf.0ee0cb"]]},{"id":"80b6d830.237538","type":"delay","z":"1ea3fda1.4826d2","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":480,"wires":[["dde0a044.bf2bb"]]},{"id":"59cbd434.1de9dc","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"credenziali","tz":""}]