NodeRedFlows/AbilitazioneMacchinari.txt
[{"id":"1ea3fda1.4826d2","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"baa0e5d0.32c568","type":"http request","z":"1ea3fda1.4826d2","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://sheets.googleapis.com/v4/spreadsheets/1N0oxAYw2nr2sGl3iPT22XR4x7xIryqXs9H8535-8ajI/values/A2%3AC200?majorDimension=COLUMNS&valueRenderOption=FORMATTED_VALUE&fields=values&key=AIzaSyAoEdNmd3SB7_DOus1pTvmyfcjSbym1qiY","tls":"","proxy":"","authType":"basic","x":430,"y":300,"wires":[["f181a2d2.9c1c5","aeccc03f.a3b8b","a673f2f3.1fea8"]]},{"id":"2bf32824.9e1e98","type":"inject","z":"1ea3fda1.4826d2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":70,"y":300,"wires":[["5d8b3dab.0174e4","ce51f469.eb6db8","5796474e.b49008"]]},{"id":"b3340845.1be608","type":"debug","z":"1ea3fda1.4826d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"macc","targetType":"msg","x":970,"y":240,"wires":[]},{"id":"f181a2d2.9c1c5","type":"function","z":"1ea3fda1.4826d2","name":"Recupero array di valori presenti","func":"var array = msg.payload.values.slice();\n//var array2 = [].concat(array1);\n//var index = msg.payload.valueRanges.length;\n//msg.Termination = index;\n//flow.set(\"index\", 0);\n\n//array.shift();\nmsg.row = array; //.splice(0, 1);\n\nvar index =msg.payload.values.length -1;\nmsg.Termination = index;\nflow.set(\"index\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["739ec062.e2f86"]]},{"id":"739ec062.e2f86","type":"counter-loop","z":"1ea3fda1.4826d2","name":"counter-loop","counter":"il320b54d6e604d4","counterType":"msg","reset":false,"resetValue":"value-null","initial":"0","initialType":"num","operator":"lt","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":290,"y":360,"wires":[[],["9460962d.6b0a78"]]},{"id":"9460962d.6b0a78","type":"function","z":"1ea3fda1.4826d2","name":"Estraggo riga per riga","func":"var array = msg.row;\nvar index = flow.get(\"index\") || 0;\n\nvar index_cols = 2//msg.payload.values.length;\n\nvar row = \"\";\nfor (i = 0; i < (index_cols); i++) {\n    row += array[i][index] + \"' ,'\";\n}\n\n//index = index+1;\nflow.set(\"index\", index);\n\nmsg.snes = row ;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":360,"wires":[["739ec062.e2f86","799d0223.0947dc"]]},{"id":"d5f3ec64.459ff","type":"debug","z":"1ea3fda1.4826d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1160,"y":360,"wires":[]},{"id":"6496364a.a643b8","type":"mysql","z":"1ea3fda1.4826d2","mydb":"59cbd434.1de9dc","name":"temp","x":1010,"y":480,"wires":[["aeccc03f.a3b8b"]]},{"id":"aeccc03f.a3b8b","type":"debug","z":"1ea3fda1.4826d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":480,"wires":[]},{"id":"266839d9.3eed16","type":"function","z":"1ea3fda1.4826d2","name":"select","func":"msg.topic = \"SELECT * FROM abilitazioni \";\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["6496364a.a643b8"]]},{"id":"5d8b3dab.0174e4","type":"delay","z":"1ea3fda1.4826d2","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":478,"wires":[["266839d9.3eed16"]]},{"id":"ad1b11ae.43356","type":"function","z":"1ea3fda1.4826d2","name":"input","func":"var start= \"INSERT INTO abilitazioni (ultima_modifica, id, \"; \nvar y= \", vuota) VALUES ('\";\nvar ending=\"')\";\nvar x = msg.sas;\nvar macchinari= msg.mac;\nmsg.topic= start + macchinari + y +  x + ending;\nreturn msg;\n ","outputs":1,"noerr":0,"x":1030,"y":360,"wires":[["d5f3ec64.459ff"]]},{"id":"5796474e.b49008","type":"function","z":"1ea3fda1.4826d2","name":"TRONCATE","func":"msg.topic= \"TRUNCATE table abilitazioni;\"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["6496364a.a643b8"]]},{"id":"ce51f469.eb6db8","type":"delay","z":"1ea3fda1.4826d2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":300,"wires":[["baa0e5d0.32c568"]]},{"id":"a68db07e.ee116","type":"debug","z":"1ea3fda1.4826d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"snes","targetType":"msg","x":980,"y":300,"wires":[]},{"id":"799d0223.0947dc","type":"change","z":"1ea3fda1.4826d2","name":"","rules":[{"t":"change","p":"snes","pt":"msg","from":"/","fromt":"str","to":"","tot":"str"},{"t":"change","p":"snes","pt":"msg","from":".","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":360,"wires":[["41933bd0.8cb834"]]},{"id":"a673f2f3.1fea8","type":"function","z":"1ea3fda1.4826d2","name":"macchinario","func":"msg.ender = msg.payload.values[2].length;\n var macchinario=msg.payload.values[2][msg.count];\n \nif(macchinario==\"Taglio laser\"){\n    msg.macc= \"laser\";\n}\nelse if(macchinario==\"Plotter da taglio\"){\n    msg.macc= \"plotter\";\n}\nelse if(macchinario==\"Stampante 3D sla\"){\n    msg.macc= \"3Dsla\";\n}\nelse if(macchinario==\"Stampante 3D fdm\"){\n    msg.macc= \"3Dfdm\";\n}\nelse if(macchinario==\"Scanner 3D\"){\n    msg.macc= \"scanner3D\";\n}\nelse if(macchinario==\"cmc\"){\n    msg.macc= \"cmc\";\n}\nelse if(macchinario==\"cmc per pcb\"){\n    msg.macc= \"cmc_pcb\";\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["b3340845.1be608","7bfc0.d239a0404"]]},{"id":"7bfc0.d239a0404","type":"counter-loop","z":"1ea3fda1.4826d2","name":"loop","counter":"count","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"ender","terminationType":"msg","increment":1,"incrementType":"num","x":430,"y":240,"wires":[[],["a673f2f3.1fea8"]]},{"id":"41933bd0.8cb834","type":"function","z":"1ea3fda1.4826d2","name":"","func":"msg.mac=msg.macc;\nmsg.sas=msg.snes;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":360,"wires":[["ad1b11ae.43356"]]},{"id":"59cbd434.1de9dc","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"credenziali","tz":""}]