NodeRedFlows/LinkPrecompilato.txt
[{"id":"80d8bc1c.e9707","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"64692ddc.972904","type":"function","z":"80d8bc1c.e9707","name":"","func":"var id=msg.payload;\nmsg.topic=\"SELECT laser,plotter,3Dsla,3Dfdm,scanner3D,cmc,cmc_pcb FROM abilitazioni WHERE id ='\"+ id+\"';\";\nmsg.link=\"https://docs.google.com/forms/d/e/1FAIpQLSdyLMckalrGWdu0sbytyg0EFNPGX8mGljLGoM9jBerYZs8I7A/viewform?entry.2000112786=\"+id;\nreturn msg;\n","outputs":1,"noerr":0,"x":1970,"y":760,"wires":[["609a1af2.725ae4"]]},{"id":"f46a0a21.c36938","type":"comment","z":"80d8bc1c.e9707","name":"link precompilato","info":"","x":1940,"y":700,"wires":[]},{"id":"50137f80.d00d","type":"ui_text_input","z":"80d8bc1c.e9707","name":"","label":"","tooltip":"","group":"e6f2c9be.3562d8","order":0,"width":"11","height":"5","passthru":true,"mode":"text","delay":"0","topic":"","x":1840,"y":760,"wires":[["64692ddc.972904"]]},{"id":"486013d8.ea088c","type":"function","z":"80d8bc1c.e9707","name":"macchinari utilizzabili","func":"if(msg.payload.includes(\"laser\\\":\\\" \")){\n    msg.laser= \"&entry.839386869=Taglio+laser\";\n}\n if(msg.payload.includes(\"plotter\\\":\\\"\")){\n    msg.plotter=\"&entry.839386869=Plotter+da+taglio\" ;\n}\n if(msg.payload.includes(\"3Dsla\\\":\\\"\")){\n    msg.sla= \"&entry.839386869=Stampante+3D+sla\";\n}\n if(msg.payload.includes(\"3Dfdm\\\":\\\"\")){\n    msg.fdm= \"&entry.839386869=Stampante+3D+fdm\";\n}\n if(msg.payload.includes(\"scanner3D\\\":\\\"\")){\n    msg.scan= \"&entry.839386869=Scanner+3D\";\n}\n if(msg.payload.includes(\"cmc\\\":\\\"\")){\n    msg.cmc= \"&entry.839386869=cmc\";\n}\n if(msg.payload.includes(\"cmc_pcb\\\":\\\"\")){\n    msg.pcb= \"&entry.839386869=cmc+per+pcb\";\n} \nreturn msg;\n\n//\"SELECT laser,plotter,3Dsla,3Dfdm,scanner3D,cmc,cmc_pcb FROM abilitazioni WHERE id ='CBBBF339BA';\"","outputs":1,"noerr":0,"x":2440,"y":760,"wires":[["5a72e24.354c51c","8ca6f98a.7aceb8"]]},{"id":"609a1af2.725ae4","type":"mysql","z":"80d8bc1c.e9707","mydb":"59cbd434.1de9dc","name":"temp","x":2090,"y":760,"wires":[["d139c3f3.b683b","989ca452.e5aeb8"]]},{"id":"d139c3f3.b683b","type":"debug","z":"80d8bc1c.e9707","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2430,"y":820,"wires":[]},{"id":"989ca452.e5aeb8","type":"json","z":"80d8bc1c.e9707","name":"","property":"payload","action":"","pretty":false,"x":2250,"y":760,"wires":[["486013d8.ea088c"]]},{"id":"8ca6f98a.7aceb8","type":"debug","z":"80d8bc1c.e9707","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"laser","targetType":"msg","x":2900,"y":720,"wires":[]},{"id":"5a72e24.354c51c","type":"function","z":"80d8bc1c.e9707","name":"link precompilato","func":"\nmsg.link=msg.link+msg.laser+msg.plotter+msg.sla+msg.fdm+msg.scan+msg.cmc+msg.pcb;\nreturn msg;","outputs":1,"noerr":0,"x":2690,"y":760,"wires":[["70366429.24598c"]]},{"id":"61db3fd2.537eb","type":"ui_text","z":"80d8bc1c.e9707","group":"e6f2c9be.3562d8","order":2,"width":"11","height":"4","name":"link precompilato","label":"text","format":"{{msg.link}}","layout":"row-spread","x":3210,"y":760,"wires":[]},{"id":"70366429.24598c","type":"change","z":"80d8bc1c.e9707","name":"","rules":[{"t":"change","p":"link","pt":"msg","from":"undefined","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2940,"y":760,"wires":[["61db3fd2.537eb"]]},{"id":"e6f2c9be.3562d8","type":"ui_group","z":"","name":"Input id","tab":"b3c50387.31179","disp":true,"width":"11","collapse":false},{"id":"59cbd434.1de9dc","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"credenziali","tz":""},{"id":"b3c50387.31179","type":"ui_tab","z":"","name":"idtessera","icon":"dashboard","disabled":false,"hidden":false}]