NodeRedFlows/LinkPrecompilato.txt
[{"id":"1232ee66.0a4a62","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"15937cb.a2e5c83","type":"function","z":"1232ee66.0a4a62","name":"","func":"var id=msg.payload;\nmsg.topic=\"SELECT laser,plotter,3Dsla,3Dfdm,scanner3D,cmc,cmc_pcb FROM abilitazioni WHERE id ='\"+ id+\"';\";\nmsg.link=\"https://docs.google.com/forms/d/e/1FAIpQLSdyLMckalrGWdu0sbytyg0EFNPGX8mGljLGoM9jBerYZs8I7A/viewform?entry.2000112786=\"+id;\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":420,"wires":[["1760b6c0.ef8d39"]]},{"id":"b77c1148.78069","type":"comment","z":"1232ee66.0a4a62","name":"link precompilato","info":"","x":1060,"y":360,"wires":[]},{"id":"abf28e3c.03f47","type":"ui_text_input","z":"1232ee66.0a4a62","name":"","label":"","tooltip":"","group":"e6f2c9be.3562d8","order":0,"width":"11","height":"5","passthru":true,"mode":"text","delay":"0","topic":"","x":960,"y":420,"wires":[["15937cb.a2e5c83"]]},{"id":"dc917580.6337b8","type":"function","z":"1232ee66.0a4a62","name":"macchinari utilizzabili","func":"if(msg.payload.includes(\"laser\\\":\\\" \")){\n    msg.laser= \"&entry.839386869=Taglio+laser\";\n}\n if(msg.payload.includes(\"plotter\\\":\\\"\")){\n    msg.plotter=\"&entry.839386869=Plotter+da+taglio\" ;\n}\n if(msg.payload.includes(\"3Dsla\\\":\\\"\")){\n    msg.sla= \"&entry.839386869=Stampante+3D+sla\";\n}\n if(msg.payload.includes(\"3Dfdm\\\":\\\"\")){\n    msg.fdm= \"&entry.839386869=Stampante+3D+fdm\";\n}\n if(msg.payload.includes(\"scanner3D\\\":\\\"\")){\n    msg.scan= \"&entry.839386869=Scanner+3D\";\n}\n if(msg.payload.includes(\"cmc\\\":\\\"\")){\n    msg.cmc= \"&entry.839386869=cmc\";\n}\n if(msg.payload.includes(\"cmc_pcb\\\":\\\"\")){\n    msg.pcb= \"&entry.839386869=cmc+per+pcb\";\n} \nreturn msg;\n\n//\"SELECT laser,plotter,3Dsla,3Dfdm,scanner3D,cmc,cmc_pcb FROM abilitazioni WHERE id ='CBBBF339BA';\"","outputs":1,"noerr":0,"x":1560,"y":420,"wires":[["a1cddb37.99cc18","6a6798aa.52ca58"]]},{"id":"1760b6c0.ef8d39","type":"mysql","z":"1232ee66.0a4a62","mydb":"59cbd434.1de9dc","name":"temp","x":1210,"y":420,"wires":[["6e8e8d4b.8fc954","50379254.62f2cc"]]},{"id":"6e8e8d4b.8fc954","type":"debug","z":"1232ee66.0a4a62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":480,"wires":[]},{"id":"50379254.62f2cc","type":"json","z":"1232ee66.0a4a62","name":"","property":"payload","action":"","pretty":false,"x":1370,"y":420,"wires":[["dc917580.6337b8"]]},{"id":"6a6798aa.52ca58","type":"debug","z":"1232ee66.0a4a62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"laser","targetType":"msg","x":2020,"y":380,"wires":[]},{"id":"a1cddb37.99cc18","type":"function","z":"1232ee66.0a4a62","name":"link precompilato","func":"\nmsg.link=msg.link+\"+\"+msg.laser+\"+\"+msg.plotter+\"+\"+msg.sla+\"+\"+msg.fdm+msg.scan+msg.cmc+msg.pcb;\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":420,"wires":[["ed4332f5.3c248"]]},{"id":"361a11fc.2a551e","type":"ui_text","z":"1232ee66.0a4a62","group":"e6f2c9be.3562d8","order":2,"width":0,"height":0,"name":"link precompilato","label":"text","format":"{{msg.link}}","layout":"row-spread","x":2330,"y":420,"wires":[]},{"id":"ed4332f5.3c248","type":"change","z":"1232ee66.0a4a62","name":"","rules":[{"t":"change","p":"link","pt":"msg","from":"undefined","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":420,"wires":[["361a11fc.2a551e"]]},{"id":"e6f2c9be.3562d8","type":"ui_group","z":"","name":"Input id","tab":"b3c50387.31179","disp":true,"width":"11","collapse":false},{"id":"59cbd434.1de9dc","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"credenziali","tz":""},{"id":"b3c50387.31179","type":"ui_tab","z":"","name":"idtessera","icon":"dashboard","disabled":false,"hidden":false}]