NodeRedFlows/LinkPrecompilato.txt
[{"id":"89097ad4.8ce028","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1d2cf107.6cc62f","type":"function","z":"89097ad4.8ce028","name":"","func":"var id=msg.payload;\nmsg.topic=\"SELECT laser,plotter,3Dsla,3Dfdm,scanner3D,cmc,cmc_pcb FROM abilitazioni WHERE id ='\"+ id+\"';\";\nmsg.link=\"https://docs.google.com/forms/d/e/1FAIpQLSeJgaG6j-D_eAH310Q6WfkOWtXp7PEdEy-R0dUaKTSf_7N86g/viewform?entry.296896079=\"+id+\"&entry.822760805=\";//Stampante+3D+fdm\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":440,"wires":[["8a92f309.6fb92"]]},{"id":"209d236a.51282c","type":"comment","z":"89097ad4.8ce028","name":"link precompilato","info":"","x":240,"y":380,"wires":[]},{"id":"2fe9dc25.803754","type":"ui_text_input","z":"89097ad4.8ce028","name":"","label":"","tooltip":"","group":"e6f2c9be.3562d8","order":0,"width":"11","height":"5","passthru":true,"mode":"text","delay":"0","topic":"","x":140,"y":440,"wires":[["1d2cf107.6cc62f"]]},{"id":"21060e5d.c4e732","type":"function","z":"89097ad4.8ce028","name":"macchinari utilizzabili","func":"if(msg.payload.includes(\"laser\\\":\\\" \")){\n    msg.macc= \"Taglio+laser\";\n}\nelse if(msg.payload.includes(\"plotter\\\":\\\"\")){\n    msg.macc=\"Plotter+da+taglio\" ;\n}\nelse if(msg.payload.includes(\"3Dsla\\\":\\\"\")){\n    msg.macc= \"Stampante+3D+sla\";\n}\nelse if(msg.payload.includes(\"3Dfdm\\\":\\\"\")){\n    msg.macc= \"Stampante+3D+fdm\";\n}\nelse if(msg.payload.includes(\"scanner3D\\\":\\\"\")){\n    msg.macc= \"Scanner+3D\";\n}\nelse if(msg.payload.includes(\"cmc\\\":\\\"\")){\n    msg.macc= \"cmc\";\n}\nelse if(msg.payload.includes(\"cmc_pcb\\\":\\\"\")){\n    msg.macc= \"cmc+per+pcb\";\n} \nreturn msg;\n\n//\"SELECT laser,plotter,3Dsla,3Dfdm,scanner3D,cmc,cmc_pcb FROM abilitazioni WHERE id ='CBBBF339BA';\"","outputs":1,"noerr":0,"x":740,"y":440,"wires":[["c047c3c1.fa675"]]},{"id":"8a92f309.6fb92","type":"mysql","z":"89097ad4.8ce028","mydb":"59cbd434.1de9dc","name":"temp","x":390,"y":440,"wires":[["f57894a.76ec568","bac6e67e.4cf6c8"]]},{"id":"f57894a.76ec568","type":"debug","z":"89097ad4.8ce028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":540,"wires":[]},{"id":"bac6e67e.4cf6c8","type":"json","z":"89097ad4.8ce028","name":"","property":"payload","action":"","pretty":false,"x":550,"y":440,"wires":[["21060e5d.c4e732"]]},{"id":"9a5c6260.0052b","type":"debug","z":"89097ad4.8ce028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"link","targetType":"msg","x":1200,"y":400,"wires":[]},{"id":"c047c3c1.fa675","type":"function","z":"89097ad4.8ce028","name":"link precompilato","func":"msg.link=msg.link+msg.macc;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":440,"wires":[["9a5c6260.0052b","4bea9c24.963664"]]},{"id":"4bea9c24.963664","type":"ui_text","z":"89097ad4.8ce028","group":"e6f2c9be.3562d8","order":2,"width":0,"height":0,"name":"link precompilato","label":"text","format":"{{msg.link}}","layout":"row-spread","x":1250,"y":440,"wires":[]},{"id":"e6f2c9be.3562d8","type":"ui_group","z":"","name":"Input id","tab":"b3c50387.31179","disp":true,"width":"11","collapse":false},{"id":"59cbd434.1de9dc","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"credenziali","tz":""},{"id":"b3c50387.31179","type":"ui_tab","z":"","name":"idtessera","icon":"dashboard","disabled":false,"hidden":false}]