NodeRedFlows/UtilizzoMacchine.txt
[{"id":"1232ee66.0a4a62","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1d8ed1ce.5af17e","type":"http request","z":"1232ee66.0a4a62","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://sheets.googleapis.com/v4/spreadsheets/1_OYIWjev-FVW9XcK1fXb6GmZe6KTO9FBV8RnG0OKHGc/values/A2%3AC200?majorDimension=COLUMNS&valueRenderOption=FORMATTED_VALUE&fields=values&key=AIzaSyAoEdNmd3SB7_DOus1pTvmyfcjSbym1qiY","tls":"","proxy":"","authType":"basic","x":1184,"y":420,"wires":[["20aad661.5bb3ca"]]},{"id":"ab36354b.c04c58","type":"inject","z":"1232ee66.0a4a62","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":824,"y":420,"wires":[["9ac8c8f8.40f738","151f0d68.dccdc3","e9fd479.50541b8"]]},{"id":"bba2c41a.795508","type":"debug","z":"1232ee66.0a4a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"Row","targetType":"msg","x":1654,"y":420,"wires":[]},{"id":"20aad661.5bb3ca","type":"function","z":"1232ee66.0a4a62","name":"Recupero array di valori presenti","func":"var array = msg.payload.values.slice();\n//var array2 = [].concat(array1);\n//var index = msg.payload.valueRanges.length;\n//msg.Termination = index;\n//flow.set(\"index\", 0);\n\n//array.shift();\nmsg.row = array; //.splice(0, 1);\n\nvar index =msg.payload.values[0].length;\nmsg.Termination = index;\nflow.set(\"index\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":1424,"y":420,"wires":[["9014ec16.a952d","bba2c41a.795508"]]},{"id":"9014ec16.a952d","type":"counter-loop","z":"1232ee66.0a4a62","name":"counter-loop","counter":"il320b54d6e604d4","counterType":"msg","reset":false,"resetValue":"value-null","initial":"0","initialType":"num","operator":"lt","termination":"Termination","terminationType":"msg","increment":1,"incrementType":"num","x":1044,"y":480,"wires":[[],["83a42066.b0e0b"]]},{"id":"83a42066.b0e0b","type":"function","z":"1232ee66.0a4a62","name":"Estraggo riga per riga","func":"var array = msg.row;\nvar index = flow.get(\"index\") || 0;\n\nvar index_cols = 3//msg.payload.values.length;\n\nvar row = \"\";\nfor (i = 0; i < (index_cols); i++) {\n    row += array[i][index] + \"' ,'\";\n}\n\n//index = index+1;\nflow.set(\"index\", index+1);\n\nmsg.snes = row ;\nreturn msg;","outputs":1,"noerr":0,"x":1254,"y":480,"wires":[["9014ec16.a952d","a8787c01.ae761","39f4cc45.ae3c64"]]},{"id":"4cdd22f.f5616dc","type":"debug","z":"1232ee66.0a4a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1654,"y":480,"wires":[]},{"id":"192c613d.72751f","type":"mysql","z":"1232ee66.0a4a62","mydb":"59cbd434.1de9dc","name":"temp","x":1564,"y":600,"wires":[["d33ecf9d.eba62"]]},{"id":"d33ecf9d.eba62","type":"debug","z":"1232ee66.0a4a62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1724,"y":600,"wires":[]},{"id":"321b97f0.e09d38","type":"function","z":"1232ee66.0a4a62","name":"select","func":"msg.topic = \"SELECT * FROM cartemagnetiche \";\nreturn msg;\n","outputs":1,"noerr":0,"x":1104,"y":600,"wires":[["192c613d.72751f"]]},{"id":"9ac8c8f8.40f738","type":"delay","z":"1232ee66.0a4a62","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":974,"y":598,"wires":[["321b97f0.e09d38"]]},{"id":"a8787c01.ae761","type":"function","z":"1232ee66.0a4a62","name":"","func":"var start= \"INSERT INTO cartemagnetiche (data, idtessera, macchinario, vuota) VALUES ('\";\nvar ending=\"')\";\nvar x = msg.snes;\nmsg.topic= start + x + ending;\nreturn msg;\n ","outputs":1,"noerr":0,"x":1464,"y":480,"wires":[["192c613d.72751f","4cdd22f.f5616dc"]]},{"id":"e9fd479.50541b8","type":"function","z":"1232ee66.0a4a62","name":"TRONCATE","func":"msg.topic= \"TRUNCATE table cartemagnetiche;\"\nreturn msg;","outputs":1,"noerr":0,"x":1004,"y":540,"wires":[["192c613d.72751f"]]},{"id":"151f0d68.dccdc3","type":"delay","z":"1232ee66.0a4a62","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1014,"y":420,"wires":[["1d8ed1ce.5af17e"]]},{"id":"39f4cc45.ae3c64","type":"debug","z":"1232ee66.0a4a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"snes","targetType":"msg","x":1834,"y":480,"wires":[]},{"id":"2d6e3603.de547a","type":"comment","z":"1232ee66.0a4a62","name":"utilizzo macchine","info":"","x":834,"y":380,"wires":[]},{"id":"59cbd434.1de9dc","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"credenziali","tz":""}]